<div class='upvote-container pull-left'>
  <i class='glyphicon glyphicon-chevron-up'></i>
  <div class='upvote-counter'></div>
</div>
<div class='image-container pull-left'>
  <a href="#events/show/<%=_id%>"><img src='<%=thumbUrl%>' /></a>
</div>
<div class='meta-container'>
  <a class='event-name' href="events/show/<%=_id%>"><%=name%></a><span class="event-info"> - <%=time()%><% if (location_type == 'international') { %> - Global <% } %> </span><br />
  <span class='event-meta'>Added by <%=user%> - <%=fullSubkastName()%> - <%= commentCountText() %></span>
</div>
<div class='clearfix'></div>
