<div class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
  <div class="container-fluid">
    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="../" class="navbar-brand">Forekast</a>
    <div class="nav-collapse collapse bs-navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="<%= FK.Uri('events/all') ? "active" : "" %>">
          <a class="" href="#/events/all">All Events</a>
        </li>
        <li class="<%= FK.Uri('events/new') ? "active" : "" %>">
          <a class="" href="#/events/new">New Event</a>
        </li>
        <li class="identity">
          <% if(email.length > 0 || name.length > 0) { %>
            <% if (email.length > 0) { %>
            <a href="#"><%= email %>
              <% if (provider.length > 0) { %>
                (<%= provider %>)
              <% } %>
            </a> 
            <% } else { %> 
            <a href="#"><%= name %> (<%= provider %>)</a> 
            <% } %>
            | <a href="<%= FK.Links.logout %>">logout</a>
          <% } else {  %>
            <a href="<%= FK.Links.login %>">login</a> | <a href="<%= FK.Links.register %>">register</a>
          <% } %>
        </li>
      </ul>
    </div>
  </div>
</div>
