<h5>Top Ranked Events (Week)</h5>
<ul>
  <li><a href="#"><%= name %></a></li>
  <li><a href="#"><%= name %></a></li>
  <li><a href="#"><%= name %></a></li>
  <li><a href="#"><%= name %></a></li>
  <li><a href="#"><%= name %></a></li>
</ul>
