<div class="row">
  <div class="col-md-10">
    <h2>Log in</h2>
    <%- if devise_mapping.omniauthable? %>
      <ul class="omniauth-login">
      <%- resource_class.omniauth_providers.each do |provider| %>
        <li class="<%= provider %>">
        <%= link_to "<span class=\"icon icon-#{provider}\"></span><span class=\"txt\">Login in with #{provider.to_s.titleize} </span>".html_safe, user_omniauth_authorize_path(provider), class: provider %></li>
      <% end -%>
    </ul>
    <% end -%>
    <div class="formlegend">
      <div>Or via email</div>
    </div>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal sign-up' }) do |f| %>
      <% if alert.present? %>
        <div class="row">
          <div class="alert alert-warning col-md-12">
          <p> <%= alert %></p>
          </div>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label  :login, class: 'col-sm-2 control-label' %>
        <div class="col-sm-offset-0 col-sm-4">
          <%= f.text_field :login, class: 'form-control', :autofocus => true %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :password, class: 'col-sm-2 control-label' %>
        <div class="col-sm-offset-0 col-sm-4">
          <%= f.password_field :password, class: 'form-control' %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2" style="padding-left: 15px;">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me %> remember me
          <% end -%>
        </div>
      </div>

      <center><%= f.submit "Sign in", class: 'btn btn-focus' %></center>
    <% end %>
    <hr />
    <div class="">
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% end -%>
    </div>
  </div>
</div>
