<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,600,700|Montserrat:700|Nunito:300' rel='stylesheet' type='text/css'>
<link rel="icon" href=<%= asset_path("favicon.ico") %> type="image/x-icon"/>
<link rel="shortcut icon" href=<%= asset_path("favicon.ico") %> type="image/x-icon"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Forekast</title>
<%= stylesheet_link_tag    "application", media: "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
