<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300' rel='stylesheet' type='text/css'>
  <link rel="icon" href="assets/favicon.ico" type="image/x-icon"/>
  <link rel="shortcut icon" href="assets/favicon.ico" type="image/x-icon"/>
  <title>Forekast</title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="navbar-container-region" class="navbar"></div>
  <div id="main-region"></div>
  <script type="text/javascript">
    $(function() {
      FK.App.start({
        countries: <%= raw Country.all.sort(order: 1).to_json() %>,
        events: [],
        links:
          {
           logout: '<%= destroy_user_session_path %>',
           login: '<%= new_user_session_path %>',
           user_edit: '<%= edit_user_registration_path %>',
           register: '<%= new_user_registration_path %>'
          },
        user: <%= user_signed_in? ? raw(current_user.to_json()) : 'null' %>
      });
      if (!Backbone.History.started)
        Backbone.history.start()
    });
  </script>
</body>
</html>
