<!DOCTYPE html>
<html>
  <head>
  <%= render :partial => 'layouts/head_section' %>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
  </head>
<body>
  <div id="navbar-container-region" class="navbar"></div>
  <div id="main-region"></div>
  <script type="text/javascript">
    $(function() {
      FK.App.start({
        countries: <%= raw Country.all.sort(order: 1).to_json() %>,
        events: [],
        links:
          {
           logout: '<%= destroy_user_session_path %>',
           login: '<%= new_user_session_path %>',
           user_edit: '<%= edit_user_registration_path %>',
           register: '<%= new_user_registration_path %>'
          },
        user: <%= user_signed_in? ? raw(current_user.to_json()) : 'null' %>
      });
      if (!Backbone.History.started)
        Backbone.history.start()
    });
  </script>
<a href="#" class="uservoice" data-uv-trigger></a>
<script>
// Include the UserVoice JavaScript SDK (only nxeeded once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/<%= CONFIG['user_voice_key'] %>.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();
UserVoice.push(['autoprompt', {}]);
</script>
</body>
</html>
